.header__logo {
  width: 35% !important;
}

.navbar-brand {
  margin-right: 0 !important;
}

.header__link {
  font-weight: 700 !important;
  font-family: "Alegreya Sans SC", sans-serif !important;
  font-size: 17px !important;
}

.header__link:hover {
  background: -webkit-linear-gradient(#fcfe19 35.92%, #47ead0 60%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

@media (min-width: 992px) {
  .header__link {
    margin-left: 1.5rem;
  }
}

.navbar {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  max-width: 100% !important;
}

.header__container {
  display: block;
  width: 100%;
  border-bottom: none;
  position: relative;
}

.header__container:after {
  content: "";
  background: -webkit-linear-gradient(
    left,
    #47ead0 0%,
    #fcfe19 50%,
    #47ead0 100%
  );
  display: block;
  height: 0.3em;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.navbar {
  padding: 0 !important;
}

.btn {
  padding: 0.15rem 0.45rem !important;
}

.lang__button {
  margin-left: 1.2rem !important;
}

@media (min-width: 992px) {
  .lang__button {
    margin-left: .6rem !important;
  }
}
