.firstSlide__container {
  min-height: 100vh;
}

.firstSlide__name {
  font-family: "Bungee", cursive;
  font-size: 2em;
  color: #ffffff;
}

@media (max-width: 382px) {
  .firstSlide__name {
    font-size: 1.3em !important;
  }
}

@media (max-width: 768px) {
  .firstSlide__name {
    font-size: 1.4em;
  }
}

@media (min-width: 1200px) {
  .firstSlide__name {
    font-size: 3em;
  }
}

.firstSlide__job {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2em;
  font-weight: 700;
  color: #ffffff;
  -webkit-text-stroke: 3px #33ff12;
}

@media (min-width: 1200px) {
  .firstSlide__job {
    font-size: 3em;
  }
}

@media (max-width: 768px) {
  .firstSlide__job {
    font-size: 1.5em;
  }
}

.firstSlide__img {
  transform: rotate(-10deg) !important;
  width: 90%;
}

@media (min-width: 768px) {
  .firstSlide__img {
    width: 160%;
  }
}

@media (max-width: 576px) {
  .firstSlide__img {
    padding-top: 15%;
  }
  .load-screen--message {
    padding-top: 15%;
  }
}
