.aboutMe__container {
  width: 100%;
  background: -webkit-linear-gradient(#fcfe19 35.92%, #47ead0 60%);
  border-radius: 40px;
  padding: 0.1em 0.07em;
}

.aboutMe__border {
  width: 97%;
  border-radius: 37px;
  margin: 0.3em 0.3em 0.3em 0.3em !important;
}

@media (min-width: 768px) {
  .aboutMe__border {
    margin: 0.3em 0.3em 0.3em 0.3em !important;
    width: 98.5%;
  }
}

@media (min-width: 992px) {
  .aboutMe__border {
    margin: 0.3em 0.3em 0.3em 0.3em !important;
    width: 99%;
  }
}

@media (min-width: 1200px) {
  .aboutMe__border {
    margin: 0.3em 0.3em 0.3em 0.3em !important;
    width: 99.2%;
  }
}

.aboutMe__height {
  min-height: 100vh;
  padding-top: 35% !important;
}

@media (min-width: 1200px) {
  .aboutMe__height {
    padding-top: 7% !important;
  }
}

@media (min-height: 700px) {
  .aboutMe__height {
    padding-top: 12% !important;
  }
}

.aboutMe__title {
  font-family: "Bungee", cursive;
  font-size: 3em;
}

.aboutMe__desc {
  font-family: "Alegreya Sans", sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 0.3px !important;
}

@media (min-width: 992px) {
  .aboutMe__desc {
    padding-right: 0.5rem !important;
  }
}

.aboutMe__sub {
  font-family: "Alegreya Sans SC", sans-serif;
  font-size: 2.4em;
  font-weight: 700;
  -webkit-text-stroke: 2px #33ff12;
}

.progress {
  background: linear-gradient(180deg, #fcfe19 22.92%, #47ead0 100%);
  justify-content: flex-start;
  border-radius: 80px !important;
  align-items: center;
  position: relative;
  height: 1.7rem !important;
  display: flex;
  width: 100%;
  margin-bottom: 6%;
}

@media (min-width: 1200px) {
  .progress {
    width: 90%;
  }
}

.progress__value {
  animation: load1 3s normal forwards;
  border-radius: 70px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__p {
  color: black;
  padding: 16px;
  font-family: "Bungee", cursive;
  font-weight: 700;
  font-size: 1.5em;
}

.progress__value2 {
  animation: load2 3s normal forwards;
  border-radius: 70px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__value3 {
  animation: load3 3s normal forwards;
  border-radius: 50px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__value4 {
  animation: load4 3s normal forwards;
  border-radius: 50px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__value5 {
  animation: load5 3s normal forwards;
  border-radius: 50px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__value6 {
  animation: load6 3s normal forwards;
  border-radius: 50px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__value7 {
  animation: load7 3s normal forwards;
  border-radius: 50px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__value8 {
  animation: load8 3s normal forwards;
  border-radius: 50px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

.progress__value9 {
  animation: load9 3s normal forwards;
  border-radius: 50px;
  background-color: #ffffff;
  height: 1.8rem;
  width: 0;
}

@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 90%;
  }
}

@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 80%;
  }
}

@keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes load6 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes load7 {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

@keyframes load8 {
  0% {
    width: 0;
  }
  100% {
    width: 40%;
  }
}

@keyframes load9 {
  0% {
    width: 0;
  }
  100% {
    width: 25%;
  }
}
