.myWork__title {
  font-family: "Bungee", cursive;
  font-size: 3em;
  -webkit-text-stroke: 3px #fcfe19;
}

.thirdSlide__Container {
  min-height: 100vh;
  padding-top: 35% !important;
}

@media (min-width: 1200px) {
  .thirdSlide__Container {
    padding-top: 7% !important;
  }
}

.thirdSlide__imgContainer {
  height: 83% !important;
}

.thirdSlide__borderContainer {
  width: 100%;
  background: -webkit-linear-gradient(#fcfe19 35.92%, #47ead0 60%);
  border-radius: 40px;
  padding: 0.08em 0.1em;
}

.thirdSlide__border {
  width: 98%;
  border-radius: 37px;
  margin: 0.3em 0.3em 0.3em 0.2em !important;
}

.thirdSlide__imgMargin {
  margin-top: 5% !important;
}

@media (min-width: 768px) {
  .thirdSlide__imgMargin {
    margin-top: 0% !important;
  }
}

@media (min-width: 1200px) {
  .thirdSlide__border {
    width: 98.3%;
    margin: 0.3em 0.3em 0.3em 0.3em !important;
  }
}

.figure-caption {
  display: flex;
  font-family: "Alegreya Sans SC", sans-serif !important;
  position: absolute;
  justify-content: center;
  bottom: 40%;
  font-size: 2em !important;
  width: 100% !important;
}

.thirdSlide__img {
  opacity: 0.3 !important;
}

.thirdSlide__caption {
  color: inherit !important;
  text-decoration: none !important;
}

.thirdSlide__caption:hover {
  color: #47ead0 !important;
}

.figure {
  margin: 0 0 0rem !important;
}

.figure-img {
  margin-bottom: 0rem !important;
  border-radius: 37px !important;
}
