body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-dark {
  --text: #ffffff !important;
  --background: #1c1c1c !important;
  --progress: #ffffff !important;
  --progresstext: #1c1c1c !important;
  --figuretext: #ffffff !important;
  --textshadow: #fcfe19 !important;
  --captionhover: #47ead0;
}

.theme-light {
  --text: #1c1c1c !important;
  --background: #ffffff !important;
  --progress: #1c1c1c !important;
  --progresstext: #ffffff !important;
  --figuretext: #1c1c1c !important;
  --textshadow: #47ead0 !important;
  --captionhover: #fcfe19;
}

.thirdSlide__caption:hover {
  color: var(--captionhover) !important;
}

.footer__copyright {
  -webkit-text-stroke: 2px var(--textshadow) !important;
}

.firstSlide__name {
  -webkit-text-stroke: 3px var(--textshadow);
}

.aboutMe__title {
  -webkit-text-stroke: 3px var(--textshadow) !important;
}

.myWork__title {
  -webkit-text-stroke: 3px var(--textshadow) !important;
}

.contactMe__title {
  -webkit-text-stroke: 3px var(--textshadow) !important;
}

.aboutMe__border {
  background-color: var(--background);
}

.thirdSlide__border {
  background-color: var(--background);
}

.figure-caption {
  color: var(--figuretext) !important;
}

.header__link {
  color: var(--text) !important;
}

.contactMe__formContainer {
  background-color: var(--background);
}

.firstSlide__name {
  color: var(--text) !important;
}

.firstSlide__job {
  color: var(--text) !important;
}

.header__container {
  background-color: var(--background) !important;
}

.progress__value {
  background-color: var(--progress) !important;
}

.progress__value2 {
  background-color: var(--progress) !important;
}

.progress__value3 {
  background-color: var(--progress) !important;
}

.progress__value4 {
  background-color: var(--progress) !important;
}

.progress__value5 {
  background-color: var(--progress) !important;
}

.progress__value6 {
  background-color: var(--progress) !important;
}

.progress__value7 {
  background-color: var(--progress) !important;
}

.progress__value8 {
  background-color: var(--progress) !important;
}

.progress__value9 {
  background-color: var(--progress) !important;
}

.progress__p {
  color: var(--progresstext) !important;
}

.footer__copyright {
  color: var(--text) !important;
}

html,
#root {
  background-color: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

html {
  scroll-behavior: smooth !important;
}
