body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.theme-dark {
  --text: #F1F1F1 !important;
  --background: #1C1C1C !important;
}

.theme-light {
  --text: #1C1C1C;
  --background: #F1F1F1;
}

html, #root {
  background-color: var(--background);
  color: var(--text);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth !important;
}