.firstSlide__name {
    font-family: 'Bungee', cursive;
    font-size: 1.4em;
    color: #FFFFFF;
    -webkit-text-stroke: 3px #FCFE19;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.firstSlide__job {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 1.4em;
    font-weight: 700;
    color: #FFFFFF;
    -webkit-text-stroke: 2px #33FF12;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.swiper-pagination-bullet-active {
    opacity: 1;
    background: #47EAD0 !important;
}

.firstSlide__img {
    transform: rotate(-10deg) !important;
    width: 40%;
}