.firstSlide__name {
    font-family: 'Bungee', cursive;
    color: #FFFFFF;
    -webkit-text-stroke: 1.5px #FCFE19;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}

.firstSlide__job {
    font-family: 'Alegreya Sans SC', sans-serif;
    color: #FFFFFF;
    -webkit-text-stroke: 1.5px #33FF12;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;
}