.MuiSvgIcon-root {
    font-size: 3em !important;
}

.MuiSvgIcon-root:hover {
    color: #47EAD0;
}

.footer__copyright {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 2em;
    font-weight: 700;
    color: #FFFFFF;
    -webkit-text-stroke: 1px #FCFE19;
    text-shadow:
        3px 3px 0 #000,
        -1px -1px 0 #000,  
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
    font-family: 'Alegreya Sans SC', sans-serif !important;
}
