.footer__container {
    display: block;
    width: 100%;
    border-bottom: none;
    position: relative;
}

.footer__container:after {
    content:"";
    background: -webkit-linear-gradient(left, #47EAD0 0%, #FCFE19 50%, #47EAD0 100%);
    display: block;
    height:0.3em;
    width: 100%;
    position: absolute;
    top: 0;
}

.footer__icon {
    width: 5em !important;
    color: blue !important;
}